/* Generic Template for all pages*/
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

body{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#444;
	font-size:13.5px;
	line-height:1.5em;
}

html{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}

html, body{
	margin:0;
	padding:0;
	min-height:100%;
}

header{
	padding:0.01em 16px;
	color:#fff;
	background-color:#000000;
	padding:8px 16px;
}

header div h1{
	font-size:48px;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #111;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
	margin-top:16px;
  }
}

section {
	border:solid black 1px;
	padding:10px;
}

.third_column{
	border:solid black 1px;
	margin:0 5%;
	display:inline-block;
	height:50vh;
	max-width:90%;
}

.third_column div{
	float:left;
	text-align:center;
	margin-left:2em;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border:solid black 1px;
	position:relative;
	width:30%;
	height:96%;
}

.third_column div img{
	max-height:20vh;
	max-width:20vw;
}

@media screen and (max-width:680px) {
  .third_column{
	padding:0 8px;
	text-align:center;
	display:inline-block;
  }

  .third_column div{
	padding:0 8px;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	padding-top:8px;
	min-height:460px;
	float:none;
	width:100%;
  }
}

#login_temp{
	padding-left: 20%;
	padding-right: 20%;
	position:relative;
}
form input{
	width: 100%;
}

footer{
   position:fixed;
   bottom:0;
   width:100%;
   background-color:#808080;
}
.animate-bottom{
	position:relative;
	-webkit-animation:animatebottom 0.4s;
	animation:animatebottom 0.4s}
	@-webkit-keyframes animatebottom{
		from{bottom:-200px;opacity:0} to{bottom:0px;opacity:1}}
	@keyframes animatebottom{
		from{ bottom:-300px;opacity:0} to{bottom:0;opacity:1}}


#fine_print{
	padding:10px;
	font-size:10px;
	color:#000066;
}