/* Generic Template for all pages*/
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

body{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#444;
	font-size:13.5px;
	line-height:1.5em;
}

html{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}

html, body{
	margin:0;
	padding:0;
	height:100%;
}

header{
	padding:0.01em 16px;
	color:#fff !important; background-color:#000000 !important;
	padding:8px 16px!important;
}

header div h1{
	font-size:48px;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #111;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

section {
	padding:10px;
	padding-bottom:60px;
}

#login_temp{
	padding-left: 20%;
	padding-right: 20%;
	position:relative;
}
form input{
	width: 100%;
}

footer{
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;  
}
.animate-bottom{
	position:relative;
	-webkit-animation:animatebottom 0.4s;
	animation:animatebottom 0.4s}
	@-webkit-keyframes animatebottom{
		from{bottom:-200px;opacity:0} to{bottom:0px;opacity:1}}
	@keyframes animatebottom{
		from{ bottom:-300px;opacity:0} to{bottom:0;opacity:1}}


#fine_print{
	font-size:10px;
	color:#000066;
}